/* RESET */
body, p, h1, ul, li, blockquote{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: white;
    font-family: Impact, Arial, sans-serif;
}

/* ESTILOS */

.container{
    position:relative;
    width: 500px;
    height: 500px;
}

.container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .text{
    text-align: center;
    line-height: 500px;
    background: white;
    mix-blend-mode: screen;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 7px;
    font-weight: bolder;
}