/* RESET */
body, p, h1, ul, li, blockquote{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #302B2B;
    font-family: Impact, Arial, sans-serif;
}

/* ESTILOS */

.container{
    position:relative;
    width: 500px;
    height: 500px;
}

.container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.botoes{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 109px;
    padding: 10px;
    width: 500px;
    border-top: 2px solid transparent;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    background-clip: padding-box;
    opacity: 0;
    transition: ease-in .5s;
}

.controle{
    opacity: 0;
    transition: ease-in .5s;
}

.botoes:hover .controle, .botoes:hover
{
    opacity: 1;
}

.botoes button{
    border: none;
    background: transparent;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .75em;
}

button + button{
    margin-left: 5px;
}